.background {
    width: 75%;
    height: 100%;
    min-height: 100vh;
    background-color: #fcf7ed;
    margin: auto;
    border: 1px solid lightgray;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.titleBox {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 10px;
    @media screen and (max-width: 640px) {
        display: block;
    }
}

.title {
    color: #0C356A;
    font-size: 40px;
    word-wrap: break-word;
    @media screen and (max-width: 640px) {
        font-size: 1.5em;
        margin-bottom: 5%;
    }
}

.commentBoxContainer {
    padding: 10px;
    width: 70%;
    background-color: white;
    position: fixed;
    bottom: 20px;
    left: 15%;
    height: 50px;
    border: 1px solid #0174BE;
    border-radius: 20px;
    display: flex;
    box-shadow: 2px 2px 5px gray;
}

.commentForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.commentBox {
    font-size: large;
    width: 100%;
    height: 100%;
    margin: 10px;
    outline: none;
    border: none;
}

.commentContainer {
    display: flex;
    padding: 5% 10% 0 5%;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.commentText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 150px;
    width: 80%;
    height: auto;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.commentProf {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 150px;
    @media screen and (max-width: 640px) {
        display: none;
    }
}

.mobileCommentProf {
    display: flex;
    gap: 3%;
    @media screen and (min-width: 641px) {
        display: none
    }
}

.username {
    width: 150px;
    align-self: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagGroup {
    height: auto;
    width: 100px;
    position: absolute;
    top: 125px;
    left: calc(12.5% - 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lfTag {
    width: inherit;
    height: 50px;
    position: relative;
    display: inline-block;
    background: #0174BE;
    text-overflow: clip;
    display: flex;
    box-shadow: 0 1px 2px gray;
    color: white;
    border-radius: 10px 0 0 10px;
}

.tag {
    width: inherit;
    height: 50px;
    position: relative;
    display: inline-block;
    background: #ffc436;
    text-overflow: clip;
    display: flex;
    box-shadow: 0 1px 2px gray;
}

.tagText {
    padding: 1px;
    padding-right: 10px;
    width: inherit;
    max-height: 50px;
    font-weight: bold;
    align-content: center;
    text-align: end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag:after {
    position: absolute;
    content: "";
    left: -19px;
    width: 1px;
    height: 0px;
    border-right: 19px solid #ffc436;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transition: border 0.3s;
}

.tag:hover {
    opacity: 100%;
}

.lfTag:hover {
    opacity: 100%;
}

.mobileLFtag {
    background-color: #0147BE;
    height: 30px;
    width: auto;
    padding: 10px;
    color: white;
    font-size: small;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.mobiletag {
    background-color: #FFC436;
    height: 30px;
    width: auto;
    padding: 10px;
    color: white;
    font-size: small;
    border-radius: 15px;
    display: flex;
    align-items: center;
    max-width: 100px;
}


.postImg {
    max-width: 50%;
    max-height: 50%;
    width: 300px;
    height: auto;
    margin-left: 5px;
    align-self: start;
    @media screen and (max-width: 640px) {
        max-width: 100%;
    }
}

.postContainer {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    @media screen and (max-width: 640px) {
        display: block;
    }
}

.postDesc {
    max-width: 50%;
    overflow: auto;
    word-wrap: break-word;
    @media screen and (max-width: 640px) {
        max-width: 100%;
        margin-bottom: 5%;
    }
}

.replyInput {
    display: flex;
    padding: 2% 5% 0 15%;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.replyInputBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 100px;
    width: 80%;
    height: auto;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.replyInputForm {
    min-height: inherit;
    display: flex;
}