.background {
    width: 75%;
    min-height: 100vh;
    height: 100%;
    background-color: #fcf7ed;
    margin: auto;
    border: 1px solid lightgray;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.userInfo {
    display: flex;
    gap: 40px;
    margin: 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media screen and (max-width: 640px) {
        display: block;
        justify-self: center;
    }
}

.userInfoEdit {
    display: flex;
    gap: 40px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media screen and (max-width: 640px) {
        display: block;
        justify-self: center;
    }
}

.username {
    display: flex;
    width: inherit;
    gap: 10px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    @media screen and (max-width: 640px) {
        width: 100%;
    }
}

.postList {
    padding: 20px 40px;
    width: 100%;
    height: auto;
    @media screen and (max-width: 640px) {
        padding: 5%;
    }
}

.post {
    width: inherit;
    height: 100px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 20px;
    border: 1px gray solid;
    box-shadow: 1px 1px 2px lightgray;
    display: flex;
    overflow: hidden;
    &:hover {
        background-color: #FFF0CE;
    }
}

.titleTime {
    width: inherit;
    max-height: inherit;
    padding: 20px 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (max-width: 640px) {
        padding: 5%;
    }
}

.title {
    width: inherit;
    max-height: inherit;
    font-size: larger;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.button {
    display: flex;
    align-self:flex-end;
    padding: 10px;
}

.divider {
    color: gray;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    cursor: default;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px dashed gray;
}

.divider:not(:empty)::before {
    margin-right: .5em;
}
.divider:not(:empty)::after {
    margin-left: .5em;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    margin-top: 10px;
    border-top: 1px dashed #0174BE;
    width: 200px;
}

.dropdownBox {
    border-style: solid;
    border-width: 2px;
    border-color: #0174BE;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    width: 250px;
    background-color: white;
    padding: 10px 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 2px 2px 5px gray;
}

.icon {
    font-size: 30px;
    color: #0174BE;
    border: 1px solid #0174BE;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.inputBox {
    padding: 10px 7.5% 5px 7.5%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 640px) {
        display: block;
    }
}

.postImg {
    width: 150px;
    height: auto;
    margin-left: 5px;
    align-self: start;
    @media screen and (max-width: 640px) {
        max-width: 100%;
    }
}