.page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0174BE;
}

.container {
  height: 100vh;
  display: flex;
  margin: auto;
  gap: 5%;
}

.cover {
  width: 40%;
  height: 1;
  background-color: #FFC436;

  @media screen and (max-width: 640px) {
    display: none;
  }
}

.textContainer {
  max-width: 50%;
  align-self: center;

  @media screen and (max-width: 640px) {
    max-width: 100%;
    padding: 0 5%;
  }
}

.loginBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background-color: #FCF7ED;
  border: 5px double #0174BE;
  border-radius: 25px;
  opacity: 95%;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 641px) {
  .loginBox {
    width: 640px;
    height: auto;
    margin-left: -320px;
    padding: 10px 40px 20px 40px;
  }
}

@media screen and (max-width: 640px) {
  .loginBox {
    width: 80vw;
    height: auto;
    max-height: 80vh;
    overflow: scroll;
    margin-left: -40vw;
    padding: 2% 5% 2% 5%;
  }
}

.helpBox {
  position: fixed;
  width: 650px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-Left: -325px;
  background-color: #FCF7ED;
  border: 5px double #0174BE;
  border-radius: 25px;
  opacity: 95%;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  flex-direction: column;
  padding: 10px 40px 20px 40px;

  @media screen and (max-width: 640px) {
    height: 80%;
    width: 80%;
    overflow: scroll;
    margin-left: -40%;
    padding: 2% 5% 2% 5%;
  }
}