.page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0174be;
}

.container {
  height: 100vh;
  display: flex;
  margin: auto;
  gap: 5%;
}

.loginBox {
  position: fixed;
  width: 650px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -325px;
  background-color: #fcf7ed;
  border: 5px double #0174be;
  border-radius: 25px;
  opacity: 95%;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 40px 20px 40px;
}

.helpBox {
  position: fixed;
  width: 650px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: -325px;
  background-color: #fcf7ed;
  border: 5px double #0174be;
  border-radius: 25px;
  opacity: 95%;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  flex-direction: column;
  padding: 10px 40px 20px 40px;
}
